body{
    
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-size: cover;
}
.container{ 
    
    margin: 10px 0;
}
.search{
    
    color: white;
    background-color: rgba(33, 38, 38,0.6);
    border-radius: 10px;
    padding: 5px 5px;
    margin: 8px ;
}

#btn{
    margin-left: 7px;
    border: none;
    border-radius: 10px;
    background-color: rgba(21, 20, 20,0.6);
    height: 35px;
}
#btn:hover{
    background-color: rgba(21, 20, 20,1);
    border-radius: 50%;
    
}
.but{
    color: rgba(248, 241, 241,0.6);
}
#val{
    color: white;
    background-color: rgba(21, 20, 20,0.6);
    border: none;
    border-radius: 8px;
    padding: 5px 5px;
}
.flex{
    display: flex;
    column-gap: 10px;
    justify-content: center;
}
.flex>div{
    padding-top: 10px;
}
.cur{
    text-align: center;
    font-weight: bold; 
}

.row{
    column-gap: 80px;
    margin: 0 8px; 
}
.row>div{
    
    border: 3px solid black;
    color: rgba(255, 255, 255,0.8);
    font-weight: 500;
    padding: 5px 5px;
    margin:10px 12px 10PX 5PX;
    background-color: rgba(33, 38, 38,0.8);
    border-radius: 10px;
}
.sat>div{
    text-align: center;
}
.sat>p{
    text-align: center;
}
